body {
    margin: 0px;
    color: white;
    background-image: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: black;
    font-size: 16px
}

.flexcontainer {
    display: flex;
}

.settings {
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    overflow: auto;
}

#settingsbutton {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 11;
    background-color: rgb(0, 0, 0);
    color: red;
}

#optionsbutton {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 11;
    background-color: rgb(0, 0, 0);
    color: red;
}

.tracker {
    /*background-color: rgba(0,0,0, 1);*/
    position: relative;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    empty-cells: show;
    border-spacing: 0px;
    border: 0px;
}

.tracker td {
    width: 64px;
    height: 64px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 64px 64px;
}

.itemconfig {
    border-spacing: 0px;
    border: 1px solid white;
}

* {
    box-sizing: border-box;
}

.stoops {
    width: 128;
    height: 128;
    background-size: 200% 200%;
}

#mapoverlay>button {
    border: 1px solid black;
}

#mapoverlay>button:hover,
#mapoverlay>button.active {
    border-color: yellow;
}

#mapoverlay>.dungeon {
    text-align: center;
}

.chestCount {
    color: black;
    line-height: 15px;
    display: inline-block;
    font-size: 12px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    /* for IE7*/
    zoom: 1;
    /* for IE7*/
    vertical-align: middle;
    margin-left: 20px
}

label {
    padding-top: 5px;
    text-align: right;
}

.lonk {
    width: 64px;
    height: 64px;
    border-spacing: 0px;
    border: 0px;
    margin: 2px;
}

.corner {
    width: 32px;
    height: 32px;
}


.false {
    -webkit-filter: grayscale(50%) brightness(30%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(50%) brightness(30%);
}

.mini {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.boss {
    width: 12px;
    height: 12px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 75%;

    position: absolute;
    margin-left: -6px;
    margin-top: -6px;

    z-index: 2;
}

.dungeon {
    width: 18px;
    height: 18px;
    background-size: 100% 100%;

    position: absolute;
    cursor: pointer;
    padding: 0;
}

.dungeonPoes {
    width: 18px;
    height: 18px;
    background-size: 100% 100%;
    position: absolute;
    cursor: pointer;
}

.itemdiv {
    position: relative;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: start;
}

.mapdiv {
    background-image: url(~/static/images/General/map2x.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: relative;
    min-width: 900px;
    height: 950px;
    left: 0px;
}

.edit-mode.add {
    background: green;
    color: white;
}

.edit-mode.remove {
    background: red;
    color: white;
}

div.trackerItem {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    display: grid;
    grid-template: ". ." 3fr ". Icon" 2fr / 3fr 2fr;
}

div.trackerTextIcon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-area: Icon;
    background: black;
    text-align: center;
}


.layoutdiv {
    width: 100%;
}


.submapdiv {
    background-color: black;

    position: absolute;
    width: 240px;
    height: 260px;
    margin-top: 690px;
}

#submaplist>li:hover {
    background-color: #282828;
}

.chest {
    width: 9px;
    height: 9px;
    background-size: 100% 100%;

    position: absolute;
    cursor: pointer;
}

#mapoverlay>button.chest {
    color: black;
}

[data-status="unavailable"] {
    background-color: rgb(255, 0, 0);
}

[data-status="available"] {
    background-color: rgb(0, 255, 0);
}

.poe[data-status="unavailable"] {
    background-color: rgb(188, 0, 161);
}

.bug[data-status="unavailable"] {
    background-color: rgb(255, 255, 0);
}

[data-status="possible"] {
    background-color: rgb(210, 190, 30);
}

[data-status="opened"] {
    background-color: rgb(127, 127, 127);
}

.DCunavailable {
    color: rgb(255, 0, 0);
}

.DCavailable {
    color: rgb(0, 255, 0);
}

.DCpossible {
    color: rgb(210, 190, 30);
}

.DCopened {
    color: rgb(127, 127, 127);
}

.DChighlight {
    color: rgb(255, 255, 0);
}

.DPunavailable {
    color: rgb(255, 0, 0);
}

.DPavailable {
    color: rgb(0, 255, 0);
}

.DPpossible {
    color: rgb(210, 190, 30);
}

.DPopened {
    color: rgb(127, 127, 127);
}

.DPhighlight {
    color: rgb(255, 255, 0);
}


[role="tooltip"].gray {
    background-color: gray;
}

button>[role="tooltip"] {
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 170%;
    left: 50%;
    margin-left: -60px;
}

button>[role="tooltip"]::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

button:hover>[role="tooltip"],
button:focus>[role="tooltip"] {
    display: block;
}

.blankspace {
    z-index: 20;
    background-repeat: no-repeat;
    position: relative;
    width: 1%;
    display: inline-block;
}

.credits {
    background-color: black;
}

#checkCounter {
    background-color: black;
    margin-top: 935px;
    margin-bottom: 0;
    margin-left: 70%;
}

fieldset,
input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fieldsetgroup {
    padding: 3px;
    margin: 5px;
    float: left;
    height: 50%;
}
